<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Spa - About Us</title>
    <link rel="shortcut icon" href="../static/img/fav-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <header>
        <div class="nav container">
            <a href="index.html" class="logo">Glow Spa</a>
            <div class="navbar">
                <li><a href="about.html" class="nav-link">About Us</a></li>
                <li><a href="services.html" class="nav-link">Services</a></li>
                <li><a href="testimonial.html" class="nav-link">Testimonial</a></li>
                <li><a href="contact.html" class="nav-link">Contact Us</a></li>
                <a href="register.html" class="register-btn btn">Register</a>
            </div>
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </header>
    <section class="about container">
        <h2>About Us</h2>
        <br><p>Welcome to Glow Spa! Learn more about our journey and mission to provide the best spa experience.</p><br>
        <img src="../static/img/aboutus.jpg">
        <h4><br>At Glow Spa, we dedicate our work to holistic care for your beauty and well-being. We specialize in treatments for the face and body, as well as offering a wide range of aesthetic procedures to enhance your natural appearance. Our serene environment and highly qualified professionals ensure an unparalleled spa experience, focused on relaxation and rejuvenation.<br>

            <br>Facial Care: Our facial treatments are designed to cleanse, hydrate, and revitalize your skin, combating signs of aging and promoting a healthy, radiant complexion.<br>
            
            <br>Body Care: Enjoy therapeutic massages, exfoliations, and body wraps that not only relieve tension and stress but also improve circulation and skin health.<br>
            
            <br>Aesthetic Treatments: We offer advanced aesthetic services, including hair removal, cellulite treatments, and skin rejuvenation procedures, so you can feel and look your best.<br>
            
            <br>At Glow Spa, we believe that true beauty comes from the balance between body and mind. Come experience our services and let us take care of you from head to toe.
        </h4>
    </section>
    <!-- Footer -->
    <section class="footer">
        <div class="footer-container container">
          <div class="footer-box">
            <a href="#" class="logo">Glow Spa</a>
            <div class="social">
                <a href="https://www.facebook.com" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.x.com" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
          <div class="footer-box">
            <h3>Services</h3>
            <a href="services.html">Skin</a>
            <a href="services.html">Body</a>
            <a href="services.html">Manicure</a>
          </div>
          <div class="footer-box">
            <h3>Legal</h3>
            <a href="#">Privacy</a>
            <a href="#">Refund Policy</a>
            <a href="#">Cookie Policy</a>
          </div>
          <div class="footer-box">
            <h3>Contact</h3>
            <p>North America</p>
            <p>South America</p>
            <p>Europe</p>
          </div>
        </div>
      </section>
      <div class="copyright">
        <p>&#169; Glow Spa 2024</p>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>
