<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glow Spa</title>
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="../static/img/fav-icon.png" type="image/x-icon" />
    <!-- Link To CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- Nav -->
      <div class="nav container">
        <!-- Logo -->
        <a href="index.html" class="logo">Glow Spa</a>
        <!-- Navbar -->
        <div class="navbar">
          <li><a href="about.html" class="nav-link">About Us</a></li>
          <li><a href="services.html" class="nav-link">Services</a></li>
          <li><a href="testimonial.html" class="nav-link">Testimonial</a></li>
          <li><a href="contact.html" class="nav-link">Contact Us</a></li>
          <a href="register.html" class="register-btn btn">Register</a>
        </div>
        <!-- Menu Icon -->
        <div class="menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
      <div class="home-data container">
        <!-- Home Text -->
        <div class="home-text">
          <h3>We can help you to</h3>
          <h2>
            Illuminate Your <br />
            Natural <br />
            Beauty Essence
          </h2>
          <div class="home-btns">
            <a href="services.html" class="book-btn btn">Book Now</a>
            <a href="services.html" class="explore-btn btn">Explore</a>
          </div>
          <!-- Home Image -->
          <div class="home-img">
            <img src="../static/img/home.jpg" alt="" />
          </div>
          <!-- Contact Info -->
          <div class="contact-info">
            <div class="contact-info-box">
              <i class="bx bxs-map"></i>
              <span>City Center, Dublin, Ireland</span>
            </div>
            <div class="contact-info-box">
              <i class="bx bxs-phone bx-rotate-270"></i>
              <span>(353) 085 555-5555</span>
            </div>
            <div class="contact-info-box">
              <i class="bx bxs-envelope"></i>
              <span>info@glowspa.com</span>
            </div>
          </div>
        </div>
        <!-- 2nd Home Image For Make Mobile Responsive -->
        <div class="home-bg">
          <img src="../static/img/home.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- About -->
    <section class="about container" id="about">
      <!-- About Text  -->
      <div class="about-text">
        <!-- Heading -->
        <h2 class="heading">About Us</h2>
        <h1>Your Wellness and Beauty Journey Starts Here</h1>
        <p>
          We provide the best spa experience that guarantees to make you
          healthier and make you look more beautiful
        </p>
        <a href="about.html" class="learn-more">
          <span>Learn More</span>
          <i class="bx bx-right-arrow-alt"></i>
        </a>
      </div>
      <!-- About Data -->
      <div class="about-data">
        <!-- Box 1 -->
        <div class="about-box">
          <img src="../static/img/about-1.jpg" alt="" />
          <div class="about-overlay">
            <div class="overlay-text">
              <h2>Laser Hair Removal</h2>
              <p>30 Minutes - €100</p>
            </div>
          </div>
        </div>
        <!-- Box 2 -->
        <div class="about-box">
          <img src="../static/img/about-2.jpg" alt="" />
          <div class="about-overlay">
            <div class="overlay-text">
              <h2>Skin Care</h2>
              <p>50 Minutes - €80</p>
            </div>
          </div>
        </div>
        <!-- Box 3 -->
        <div class="about-box">
          <img src="../static/img/about-3.jpg" alt="" />
          <div class="about-overlay">
            <div class="overlay-text">
              <h2>Body Massage</h2>
              <p>60 Minutes - €130</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services -->
    <section class="services container" id="services">
      <!-- Services Content -->
      <div class="swiper services-content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="service-box">
              <div class="ser-img">
                <img src="../static/img/service-1.jpg" alt="" />
              </div>
              <div class="box-data">
                <h2 class="heading">Our Services</h2>
                <h2>Deeper Facial Care</h2>
                <p>
                  Revitalize your skin with a deep facial care that goes beyond the surface. 
                  At our beauty spa, we offer a complete facial rejuvenation experience, which 
                  includes a relaxing facial massage.
                </p>
                <div class="package">
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>60 Minutes - $120</span>
                  </div>
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>90 Minutes - $160</span>
                  </div>
                  <!-- Btn -->
                  <a href="welcome.html" class="book-now btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Box 2 -->
          <div class="swiper-slide">
            <div class="service-box">
              <div class="ser-img">
                <img src="../static/img/service-2.jpg" alt="" />
              </div>
              <div class="box-data">
                <h2 class="heading">Our Services</h2>
                <h2>Foot Spa</h2>
                <p>
                  Enjoy the comfort and well-being of a foot massage performed by our experienced podiatrists. 
                  Our specialized professionals not only relieve the tension and fatigue accumulated throughout 
                  the day, but also offer therapeutic benefits that go beyond the immediate sensation of relaxation.
                </p>
                <div class="package">
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>60 Minutes - $120</span>
                  </div>
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>90 Minutes - $160</span>
                  </div>
                  <!-- Btn -->
                  <a href="welcome.html" class="book-now btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Box 3 -->
          <div class="swiper-slide">
            <div class="service-box">
              <div class="ser-img">
                <img src="../static/img/service-3.jpg" alt="" />
              </div>
              <div class="box-data">
                <h2 class="heading">Our Services</h2>
                <h2>Manicure</h2>
                <p>
                  Revitalize your hands and treat yourself to a unique spa experience that 
                  combines specialized care and luxurious indulgence. In our hand spa, you 
                  will be welcomed by our talented manicurists, who not only take care of the 
                  aesthetics of your nails but also provide a moment of relaxation and rejuvenation.
                </p>
                <div class="package">
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>60 Minutes - $120</span>
                  </div>
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>90 Minutes - $160</span>
                  </div>
                  <!-- Btn -->
                  <a href="welcome.html" class="book-now btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Box 4 -->
          <div class="swiper-slide">
            <div class="service-box">
              <div class="ser-img">
                <img src="../static/img/service-4.jpg" alt="" />
              </div>
              <div class="box-data">
                <h2 class="heading">Our Services</h2>
                <h2>Laser Hair Removal</h2>
                <p>
                  Say goodbye to the daily routine of hair removal and discover the freedom 
                  of smooth, hair-free skin with laser hair removal treatment. At our specialized 
                  center, we offer a lasting and effective solution to rid yourself of unwanted hair 
                  on the entire body.
                </p>
                <div class="package">
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>60 Minutes - $120</span>
                  </div>
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>90 Minutes - $160</span>
                  </div>
                  <!-- Btn -->
                  <a href="welcome.html" class="book-now btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Box 5 -->
          <div class="swiper-slide">
            <div class="service-box">
              <div class="ser-img">
                <img src="../static/img/service-5.jpg" alt="" />
              </div>
              <div class="box-data">
                <h2 class="heading">Our Services</h2>
                <h2>Full Body Massage</h2>
                <p>
                  Awaken your senses and rejuvenate your body with the luxurious experience 
                  of a hot stone and oil body massage. In our exclusive spa, we invite you 
                  to embark on a journey of deep relaxation, where soothing aromas and the warm 
                  sensation of heated stones combine to alleviate tension and revitalize your being.
                </p>
                <div class="package">
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>60 Minutes - $120</span>
                  </div>
                  <div class="p-box">
                    <i class="bx bxs-badge-check"></i>
                    <span>90 Minutes - $160</span>
                  </div>
                  <!-- Btn -->
                  <a href="welcome.html" class="book-now btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Swiper Btns -->
      <div class="slider-btns">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
    <!-- Testimonial -->
    <section class="testimonial container" id="testimonial">
      <h2 class="heading">Testimonial</h2>
      <h3>
        What Our Beloved <br />
        Customer Say About Us
      </h3>
      <!-- Testimonial Data -->
      <div class="testimonial-data">
        <!-- Box 1 -->
        <div class="t-box">
          <div class="t-img">
            <img src="../static/img/testimonial-1.jpg" alt="" />
            <i class="bx bxs-quote-alt-right"></i>
          </div>
          <h2>Emily Jones</h2>
          <p>
            My experience at Glow Spa was truly transformative. 
            From the moment I walked in, I was greeted with warm welcomes 
            and a serene atmosphere. The deep facial care left my skin 
            radiant and rejuvenated, while the hot stone massage relieved all my 
            tensions. I can't wait to come back and pamper myself again!
          </p>
        </div>
        <!-- Box 2 -->
        <div class="t-box">
          <div class="t-img">
            <img src="../static/img/testimonial-2.jpg" alt="" />
            <i class="bx bxs-quote-alt-right"></i>
          </div>
          <h2>Charlotte Brown</h2>
          <p>
            Glow Spa exceeded all my expectations. Every detail, from the elegant 
            decor to the personal attention from the staff, was exceptional. The body 
            massage with essential oils was simply divine, and the sensation of the hot 
            stones gliding smoothly over my skin was unmatched. I highly recommend it 
            to anyone looking for a first-class spa experience.
          </p>
        </div>
        <!-- Box 3 -->
        <div class="t-box">
          <div class="t-img">
            <img src="../static/img/testimonial-3.jpg" alt="" />
            <i class="bx bxs-quote-alt-right"></i>
          </div>
          <h2>Olivia Taylor</h2>
          <p>
            I have no words to express how wonderful my visit to Glow Spa was. I was 
            greeted with kindness and professionalism, and immediately felt at ease. 
            The foot massage performed by your podiatrists was a true relief for my aches, 
            and the facial mask left my skin glowing. I can't wait to come back and enjoy more 
            treatments!
          </p>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <section class="footer">
      <div class="footer-container container">
        <div class="footer-box">
          <a href="#" class="logo">Glow Spa</a>
          <div class="social">
            <a href="https://www.facebook.com" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.x.com" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="bx bxl-youtube"></i></a>
          </div>
        </div>
        <div class="footer-box">
          <h3>Services</h3>
          <a href="services.html">Skin</a>
          <a href="services.html">Body</a>
          <a href="services.html">Manicure</a>
        </div>
        <div class="footer-box">
          <h3>Legal</h3>
          <a href="#">Privacy</a>
          <a href="#">Refund Policy</a>
          <a href="#">Cookie Policy</a>
        </div>
        <div class="footer-box">
          <h3>Contact</h3>
          <p>North America</p>
          <p>South America</p>
          <p>Europe</p>
        </div>
      </div>
    </section>
    <div class="copyright">
      <p>&#169; Glow Spa 2024</p>
    </div>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
   
    <!-- Link To Js -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
